body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background: black;
    color: white;
    padding: 20px;
}

nav a {
    margin-right: 20px;
    color: white;
    text-decoration: none;
    font-size: 18px;
}

nav a:hover {
    text-decoration: underline;
}

main {
    padding: 20px;
}
